body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: lightblue;
}

h1, h2 {
    margin: 0;
}

.header {
    background-color: rgb(0, 3, 175);
    color: white;
    padding: 1em;
    margin: 0.5em 0;
}
  
.nav {
    background-color: lightgrey;
    padding: 0.5em;
    margin: 0.5em 0;
}
  
nav li:not(:first-of-type) {
    margin-left: -0.25em;
}

.content {
    background-color: white;
    padding: 1em;
    margin: 0.5em 0;
}

.info {
    color: red;
}

nav {
    text-align: center;
}
  
nav ul {
    padding: 0;
    margin: 0;
}
  
nav li {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
}
  
nav li:not(:last-of-type) {
    border-right: 1px solid black;
}

.list_name_link {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.metadata-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 12px;
}
  
.left {
    text-align: left;
    flex: 1;
}

.center {
    text-align: center;
    flex: 1;
}

.right {
    text-align: right;
    flex: 1;
}
  